a {
	color: blue;
	text-decoration: underline;
}

img {
	max-width: 100%;
}

figure {
	padding: 0;
	margin: 0;

	.credit {
		display: block;
		font-size: 70%;
	}
}

.right_image {
	float: right;
	text-align: right;
	margin: 0 0 0 10px;
	padding: 0;
}

.right_image img {
	margin: 0;
	padding: 0;
}

.right_image figcaption {
	padding: 0 0 0 6px;
}

.notice-info {
	background: #ececec !important;
	border: 1px solid #aaa !important;
}

.notice-danger {
	background: #fcc !important;
	border: 1px solid #a66 !important;
}

.notice-warning {
	background: #FED;
	border: 1px solid #fc9;
}

.notice-tip {
	background: #ccf;
	border: 1px solid #66a;
}

.notice-green {
	background: #161;
	border: 1px solid #393;
}

.notice {
	margin: 10px;
	display: block;
	padding: 5px;
	border-radius: 5px;
	position: relative;
}

.notice p {
	margin: 0 0 17px 0;
}

.notice p:last-child {
	margin: 0;
}

.notice > span {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 40px;
	font-size: 24px;
	text-align: center;
	display: block;
}

.notice > div {
	margin-left: 35px;
}

.notice h2 {
	margin: 0 0 5px 0;
	padding: 0 0 2px 0;
	font-size: 100%;
}

.header-link, .anchor {
	text-decoration: none;
	color: #bbb;
	padding: 0 10px 0 0;
}

.header-link {
	position: absolute;
	right: 10px;
}

.header-link:hover {
	color: #999;
}


h1 {
	text-align: center;
	margin: 0;
	padding: 10px 0 0 0;
}

h2 {
	border-bottom: 1px solid black;
	margin: 30px 0 10px 0;
	display: block;
	padding: 0 0 5px 0;
	clear: both;
}

h3 {
	font-size: 105%;
	font-weight: bold;
	margin: 30px 0 10px 0;
}

.toc > ul > li > ul > li > ul {
	display: none;
}



.prevnext {
	display: flex;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	background: #eee;

	li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		flex: 1;

		a {
			display: block;
			margin: 0;
			padding: 1em 0;
			text-align: center;
			font-size: 100%;
			text-decoration: none;
			color: black;
		}

		a:hover {
			text-decoration: none;
			background: #fff;
		}
	}

	li:first-child {
		border-right: 2px solid white;
	}

	li:last-child {
		border-left: 2px solid white;
	}
}
